.section-header-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0rem;
    gap: 1rem;
    opacity: 0;
    animation: fadeRise 0.3s ease-out 0.925s forwards;
    position: relative;
    z-index: 10;
    margin-top: 0rem;
}

.section-chef-icon {
    font-size: 4rem;
    color: #5bec60;
}


/* Scrolling Phone Mockup Runway */
.feed-runway {
    height: 200rem;
    width: 100%;
    position: relative;
    margin-top: 5rem;
    margin-bottom: 0rem;
    padding-bottom: 5rem;
    margin-bottom: 0;
    background-color: #e6f5e3;
}

.feed-scroll-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 0rem;
    position: absolute;
    top: 0;
    left: 0;
}

.feed-scroll-section.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding-top: 0rem;
}

.feed-scroll-section.completed {
    position: absolute;
    top: auto;
    bottom: 0;
}

.feed-mockup-container {
    position: relative;
    width: 682px;
    height: 1481px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
}

.phone-screen-content {
    position: absolute;
    top: 20px;
    left: 30px;
    right: 30px;
    bottom: 20px;
    overflow: visible;
    border-radius: 5rem;
    z-index: 1;
    background-color: #ffffff;
}

.content-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: -0.1rem;
    gap: none;
}

.content-card h3 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    color: #181b18;
    margin: 0.5rem 0 1rem 0;
    text-align: center;
}
.card-title-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
    margin-top: 0.8rem;
}

.card-title-box {
    background-color: #b9efae;
    color: #181b18;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    padding: 0.5rem 1.5rem;
    border-radius: 1.2rem;
    display: inline-block;
    text-align: center;
}

.card-title-box:nth-child(1) {
    transform: rotate(-5deg);
}

.card-title-box:nth-child(2) {
    transform: rotate(4deg);
}

.card-title-box:nth-child(3) {
    transform: rotate(-5deg);
}
.content-card p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #666;
    margin: 0;
    text-align: center;
}

.content-card.card-1 {
    background: #e6f5e3;
    padding: 0;
    overflow: hidden;
}

.content-card.card-1 .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin-top: 2.65rem;
}

.content-card.card-2,
.content-card.card-3,
.content-card.card-4,
.content-card.card-5 {
    background: #ffffff;
}

.card-box-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F4F4;
    width: 33.5rem;
    border-radius: 1.7rem;
    padding: 1.2rem;
    text-align: left;
    overflow: hidden;
}

.card-box-2 img {
    width: 95%;
    height: auto;
    margin-top: 0rem;
    margin-bottom: -11rem;
    padding-left: 1rem;
    padding-right: 1.2rem;
}

.card-box-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F4F4;
    width: 33.5rem;
    border-radius: 1.7rem;
    padding: 1.2rem;
    text-align: left;
}
.card-box-3 img {
    width: calc(100% + 2.4rem);
    height: auto;
    margin-top: -2rem;
    margin-left: -1.2rem;
    margin-right: -1.2rem;
    margin-bottom: -1.2rem;
    padding: 0;
    border-radius: 0 0 1.7rem 1.7rem;
}

.card-box-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F4F4;
    width: 33.5rem;
    border-radius: 1.7rem;
    padding: 1.2rem;
    text-align: left;
}

.card-box-4 img {
    width: 100%;
    height: auto;
    margin-top: 0.4rem;
    padding: 0;
    border-radius: 0 0 1.7rem 1.7rem;
}

.card-box-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F4F4;
    width: 33.5rem;
    border-radius: 1.7rem;
    padding: 1.2rem;
    text-align: left;
    margin-bottom: 2.5rem;
}

.card-box-5 img {
    width: 100%;
    height: auto;
    margin-top: 0.4rem;
    padding: 0;
    border-radius: 0 0 1.7rem 1.7rem;
}


.big-feature-feed {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 0rem;
    position: relative;
    overflow: hidden;
    opacity: 0;
    animation: fadeRise 0.3s ease-out 0.8s forwards;

}

.feed-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 0rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
    position: relative;
    padding: 0rem 0;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.feed-title-row {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    flex-wrap: wrap;
    max-width: 40rem;
}

.feed-title-box {
    background-color: #90D881;
    color: #214221;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    padding: 0.8rem 2.7rem;
    border-radius: 2rem;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 100;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.feed-title-box-secondary {
    background-color: #ffffff;
    color: #181b18;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    padding: 0.5rem 1.4rem;
    border-radius: 1.4rem;
    display: inline-block;
    text-align: center;
    position: absolute;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    z-index: 200;
}

.big-feature-content-feed h2 {
    margin-left: 2rem;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    color: #052b17;
    font-size: 2.5rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    text-align: left;
    position: relative;
    z-index: 1;
    max-width: 60%;
}

.big-feature-content-feed p {
    color: rgb(5, 43, 23);
    font-size: 1.3rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    position: relative;
    z-index: 1;
    width: calc(50% - 1rem);
    box-sizing: border-box;
    margin-right: auto;
    margin-left: 2rem;
    margin-top: 0.2rem;
}

.big-feature-mockup-feed {
    position: relative;
    width: 45rem;
    height: auto;
    z-index: 2;
}

.feed-highlight {
    color: #242924;
    position: relative;
    display: inline-block;
}

.feed-highlight::before {
    content: '';
    position: absolute;
    bottom: 12%;
    left: -2.5%;
    right: 0;
    height: 40%;
    width: 0%;
    background-color: #8fd583;
    z-index: -1;
    border-radius: 0.3rem;
}

.feed-highlight.highlight-active::before {
    animation: highlightSweep 0.6s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

@media (max-width: 768px) {
    .feed-runway {
        height: 250vh;
        padding-bottom: 5rem;
        margin-bottom: 0rem;
        margin-top: 0;
    }

    .feed-scroll-section.fixed {
        top: 0rem;
    }

    .feed-mockup-container {
        width: calc(100vw - 2rem);
        height: calc((100vw - 0rem) * 2.39);
        max-width: 100%;
        
    }

    .phone-screen-content {
        top: -0.5%;
        left: 3.8%;
        right: 3.8%;
        bottom: 0.5%;
        border-radius: 2rem;
    }

    .phone-frame {
        z-index: 100;
    }

    .content-card {
        height: auto;
        padding: 1.8rem;
        padding-bottom: 0rem;
        padding-top: 1rem;
    }

    .content-card h3 {
        font-size: 1.5rem;
    }

    .content-card p {
        font-size: 1rem;
    }

    .content-card.card-1 .card-image {
        margin-top: 6.5rem;
    }

    .card-box-2,
    .card-box-3,
    .card-box-4,
    .card-box-5 {
        width: 100%;
        padding: 1rem;
        border-radius: 1.2rem;
    }

    .card-box-2 {
        margin-top: -0.7rem;
    }

    .card-box-2 img {
        width: 90%;
        margin-bottom: -8rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .card-box-3 img {
        width: calc(100% + 2rem);
        margin-left: -1rem;
        margin-right: -1rem;
        margin-bottom: -1rem;
        border-radius: 0 0 1.2rem 1.2rem;
    }

    .card-box-5 {
        margin-bottom: 1.5rem;
    }

    .card-title-boxes {
        gap: 0.6rem;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
    }

    .card-title-box {
        font-size: 1.1rem;
        padding: 0.35rem 0.8rem;
        border-radius: 0.8rem;
    }

    .section-header-feed {
        width: 100%;
        padding: 0 0rem;
        box-sizing: border-box;
    }

    .feed-title-container {
        min-height: 350px;
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
        margin-bottom: 0rem;
        overflow: visible;
        z-index:200;
    }

    .feed-title-box {
        font-size: 1.9rem;
        padding: 0.7rem 1.8rem;
    border-radius: 1.5rem;
    }

    .feed-title-box-secondary {
        font-size: 1.15rem;
        padding: 0.4rem 1rem;
        border-radius: 1rem;
        z-index:200;
    }

    .feed-title-row {
        gap: 0.8rem;
        flex-direction: column;
        align-items: center;
    }

    .feed-title-box {
        display: block;
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 426px) {
        .feed-mockup-container {
        height: calc((100vw - 0.5rem) * 2.39);
        
    }
    
}

@media (max-width: 415px) {
    .phone-screen-content {
        top: -2%;
        left: 3.8%;
        right: 3.8%;
        bottom: 0.5%;
        border-radius: 2rem;
    }
        .feed-mockup-container {
        height: calc((100vw - 2.3rem) * 2.39);
        
    }
    
}

@media (max-width: 385px) {
        .feed-mockup-container {
        height: calc((100vw - 2.55rem) * 2.39);
        
    }
    
}