.radial-gradient-decoration {
  width: 110%;
  height: auto;
  margin: 0 auto;
  display: block;
  opacity: 1;
  position: relative;
  z-index: 0;
  margin-top: -25rem;
  margin-bottom: -3rem;
  left: -5%;
}

.section-header-camera {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0rem;
  gap: 0rem;
  opacity: 1;
  position: relative;
  z-index: 10;
  margin-top: calc(-25vw - 17rem);
  margin-left: auto;
  margin-right: auto;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0rem;
  gap: 1rem;
  opacity: 1;
  position: relative;
  z-index: 10;
  margin-top: -3rem;
}

.section-header-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: -6rem;
  margin-top: 7rem;
  gap: 1rem;
}
.dark-section-title-box {
  background-color: #98e094;
  color: #214221;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  padding: 1.3rem 2.8rem;
  border-radius: 2rem;
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 10;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.section-header-dark-section-top {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  align-items: center;
  justify-content: center;
  margin-bottom: 0rem;
  gap: 1rem;
  opacity: 1;
  position: relative;
  z-index: 10;
  max-width: 100%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -3rem;
  font-size: 2.5rem;
}

.section-title-camera {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-size: 6.5rem;
  color: #181b18;
  opacity: 1;
  margin: 0;
  text-align: center;
  max-width: 800px;
  line-height: 1;
  position: relative;
  z-index: 10;
}

.section-title-feed {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  font-size: 4rem;
  color: #e6f5e3;
  opacity: 1;
  margin: 0;
  text-align: center;
  max-width: 800px;
  line-height: 1.2;
  position: relative;
  z-index: 10;
}

.section-title {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  font-size: 4rem;
  color: #e6f5e3;
  opacity: 1;
  margin: 0;
  text-align: center;
  max-width: 800px;
  line-height: 1.2;
  position: relative;
  z-index: 10;
}

.section-title-bottom {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  font-size: 4rem;
  color: #e6f5e3;
  opacity: 1;
  margin: 0;
  text-align: center;
  max-width: 800px;
  line-height: 1.2;
  position: relative;
  z-index: 10;
}

.feature-boxes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: -50px;
  margin: 5rem auto 14rem auto;
  max-width: 1350px;
  padding: 0 2rem;
  position: relative;
  min-height: 600px;
  margin-top: 7rem;
}

.feature-box {
  width: 23rem;
  height: 500px;
  border-radius: 30px;
  background: #f3f9f5;
  padding: 2.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.feature-box:hover {
  transform: scale(1.05) !important;
  z-index: 10;
}

.feature-box-1 {
  transform: rotate(-5.741deg);
  margin-right: -30px;
  z-index: 1;
}

.feature-box-2 {
  transform: rotate(8.447deg);
  margin-right: -30px;
  z-index: 2;
}

.feature-box-3 {
  transform: rotate(-5.078deg);
  margin-right: -30px;
  z-index: 3;
}

.feature-box-4 {
  transform: rotate(7.687deg);
  z-index: 4;
}

.feature-box-title {
  color: #000;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 118.218%;
  letter-spacing: -2px;
  margin: 0 0 1rem 0;
}

.feature-box-description {
  color: #000;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 118.218%;
  letter-spacing: -1.25px;
  margin: 0 0 1.5rem 0;
}

.feature-box-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f500;
  border-radius: 15px;
  min-height: 200px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.feature-box-image img {
  max-width: 120%;
  max-height: 120%;
  width: auto;
  height: auto;
  object-fit: contain;
}

.big-feature-camera {
  display: none;
}

.camera-title-container {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 40rem;
}

.camera-title-box {
  background-color: #ffffff;
  color: #181b18;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  padding: 1.2rem 3.5rem;
  border-radius: 2.8rem;
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 10;
}

.camera-sparkle {
  position: absolute;
  width: 5rem;
  height: 5rem;
  z-index: 5;
}

.camera-sparkle-0 {
  left: 19%;
  top: 37%;
  transform: rotate(2deg);
  scale: 1;
}

.camera-sparkle-1 {
  left: 26%;
  top: 18%;
  transform: rotate(24.264deg);
  scale: 1.3;
}

.camera-sparkle-2 {
  left: 29%;
  bottom: 12%;
  transform: rotate(-5.673deg);
  scale: 2.2;
}

.camera-sparkle-3 {
  right: 25%;
  top: 29%;
  transform: rotate(20deg);
  scale: 2.2;
}

.camera-sparkle-4 {
  right: 30%;
  bottom: 7%;
  transform: rotate(25deg);
    scale: 1.3;
}

.camera-sparkle-5 {
  right: 17%;
  bottom: 37%;
  transform: rotate(8deg);
    scale: 1;
}

.big-feature-content-camera {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 1070px;
  position: relative;
  padding-top: 0;
  min-height: 100%;
  text-align: left;
}

.big-feature-content-feed {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 1070px;
  position: relative;
  padding-top: 0;
  min-height: 100%;
  text-align: left;
}

.big-feature-content-camera h2 {
  margin-left: 2rem;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  color: #052b17;
  font-size: 2.5rem;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  text-align: left;
  position: relative;
  z-index: 1;
  max-width: 60%;
}


.big-feature-content p,
.big-feature-content-camera p,
.big-feature-content-feed p {
  color: rgb(5, 43, 23);
  font-size: 1.3rem;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  position: relative;
  z-index: 1;
  width: calc(50% - 1rem);
  box-sizing: border-box;
  margin-right: auto;
  margin-left: 2rem;
  margin-top: 0.2rem;
}

@media (max-width: 1900px) {
    .radial-gradient-decoration {
        margin-top: -20rem;
  margin-bottom: -3rem;
    }
}

@media (max-width: 1700px) {
    .radial-gradient-decoration {
        margin-top: -14rem;
  margin-bottom: -3rem;
    }
}

@media (max-width: 768px) {
  .radial-gradient-decoration {
    max-width: none;
    width: 220%;
    height: auto;
    margin-top: -4rem;
    margin-bottom: 7rem;
    left: -60%;
    display: block;
    overflow: visible;
  }

  .section-title-dark-section-top {
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .dark-section-title-box {
    font-size: 1.9rem;
    padding: 0.7rem 1.8rem;
    border-radius: 1.3rem;
    margin-bottom: 0.6rem;
  }

  .feature-boxes-container {
    flex-direction: column;
    gap: 2rem;
    min-height: auto;
    padding: 0 1rem;
    margin: 3rem auto 8rem auto;
  }

  .feature-box {
    width: 100%;
    max-width: 350px;
    height: auto;
    min-height: 400px;
    margin-right: 0 !important;
  }

  .feature-box-1,
  .feature-box-2,
  .feature-box-3,
  .feature-box-4 {
    transform: rotate(0deg) !important;
  }

  .feature-box-title {
    font-size: 28px;
    letter-spacing: -1px;
  }

  .feature-box-description {
    font-size: 18px;
    letter-spacing: -0.9px;
  }

  .feature-box-image {
    min-height: 150px;
  }

  .section-header-camera {
    margin-bottom: 7rem;
    margin-top: calc(-25vw - 21.5rem);
  }

  .camera-title-container {
    max-width: 100%;
    gap: 1.5rem;
  }

  .camera-title-box {
    font-size: 2.5rem;
    padding: 0.6rem 1.5rem;
    border-radius: 1.5rem;
  }

  .camera-sparkle {
    width: 3rem;
    height: 3rem;
  }

  .camera-sparkle-0 {
    --mobile-final-left: -20%;
    --mobile-final-top: 37%;
    --mobile-final-rotate: 2deg;
    --mobile-final-scale: 1;
  }

  .camera-sparkle-1 {
    --mobile-final-left: 1%;
    --mobile-final-top: 10%;
    --mobile-final-rotate: 24.264deg;
    --mobile-final-scale: 1.3;
  }

  .camera-sparkle-2 {
    --mobile-final-left: 6%;
    --mobile-final-bottom: 31%;
    --mobile-final-rotate: -5.673deg;
    --mobile-final-scale: 2.2;
  }

  .camera-sparkle-3 {
    --mobile-final-left: 80%;
    --mobile-final-top: 51%;
    --mobile-final-rotate: 26deg;
    --mobile-final-scale: 2.2;
  }

  .camera-sparkle-4 {
    --mobile-final-left: 87%;
    --mobile-final-top: 14%;
    --mobile-final-rotate: 25deg;
    --mobile-final-scale: 1.2;
  }

  .camera-sparkle-5 {
    --mobile-final-left: 100%;
    --mobile-final-bottom: 44%;
    --mobile-final-rotate: 8deg;
    --mobile-final-scale: 1;
  }

  .section-sparkle-icon {
    font-size: 3rem;
  }

  .section-chef-icon {
    font-size: 3rem;
  }

  .wave-decoration {
    height: 14rem;
    margin-bottom: -6rem;
    margin-top: -5rem;
  }
}