.navbar {
  position: fixed;
  top: 1.3rem;
  left: 50%;
  transform: translateX(-50%);
  max-width: calc(120ch + 25rem);
  width: calc(100% - 2.6rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-logo-link {
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.nav-logo-link:hover {
  transform: translateY(-0.125rem);
}

.nav-logo-container {
  display: flex;
  align-items: center;
  gap: 0.9rem;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(0.7rem);
  -webkit-backdrop-filter: blur(0.7rem);
  box-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.035);
  padding: 0.6rem 1.2rem;
  border-radius: 1rem;
}

.nav-icon {
  height: 2rem;
  width: auto;
  filter: brightness(0) saturate(100%) invert(13%) sepia(8%) saturate(1234%) hue-rotate(73deg) brightness(96%) contrast(92%);
  border-radius: 0.5rem;
  margin-top: -0.3rem;
  margin-left: -0.3rem;
}

.nav-logo {
  font-weight: 850;
  font-size: 1.5rem;
  font-family: 'Nunito Sans', sans-serif;
  color: #242924;
}

.nav-right {
  display: flex;
  gap: 0.75rem;
}

.nav-button {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(0.7rem);
  -webkit-backdrop-filter: blur(0.7rem);
  box-shadow: 0rem 0.2rem 0.4rem rgba(0, 0, 0, 0.035);
  padding: 0.8rem 1.4rem;
  border-radius: 1rem;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: #242924;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.button-icon {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-button:hover {
  transform: translateY(-0.125rem);
  border: 0.0625rem solid rgba(0, 0, 0, 0.3);
}

/* Dark section navbar styles */
.navbar-dark .nav-logo-container {
  background: rgba(47, 47, 47, 0.5);
}

.navbar-dark .nav-logo {
  color: #e6f5e3;
}

.navbar-dark .nav-icon {
  filter: brightness(100) saturate(0%);
}

.navbar-dark .nav-button {
  background: rgba(47, 47, 47, 0.5);
  color: #e6f5e3;
}

.navbar-dark .button-icon {
  color: #e6f5e3;
}

/* Mobile */
@media (max-width: 768px) {
  .navbar {
    width: calc(100% - 1.6rem);
    top: 0.8rem;
  }

  .nav-right {
    gap: 0.3rem;
  }

  .nav-logo {
    font-size: 1.2rem;
  }

  .nav-icon {
    height: 1.5rem;
  }

  .nav-item {
    display: none;
  }

  .nav-button {
    padding: 0.6rem 1rem;
    font-size: 0.8rem;
  }

  .nav-button span:not(.button-icon) {
    display: none;
  }
}
