.scrolling-section {
  margin-top: 0rem;
  opacity: 1;
  width: 100%;
  overflow-x: hidden;
}

.scrolling-text {
  margin-top: 6rem;
  text-align: center;
  margin-bottom: 0rem;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.scrolling-title-text {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 4.5rem;
  color: #152b15;
  margin: 0;
  line-height: 1.1;
  text-align: center;
  letter-spacing: -0.08rem;
}

.scrolling-subtitle {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  color: #5a5a5a;
  margin-top: 1.5rem;
  text-align: center;
  position: relative;
  z-index: 10;
  letter-spacing: -0.08rem;
    margin-bottom: 3rem;
}


.scrolling-icon-left,
.scrolling-icon-right {
  position: absolute;
  z-index: 5;
  cursor: pointer;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.08));
}

.scrolling-icon-left {
  left: max(1rem, calc(50% - 34rem));
  top: 20%;
}

.scrolling-icon-right {
  right: max(1rem, calc(50% - 34rem));
  top: 20%;
}


.scrolling-rows {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 2rem;
}

.scroll-row {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
  position: relative;
  height: 26rem;
}

.scroll-box {
  width: 20rem;
  height: 25rem;
  border-radius: 1.5rem;
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.08));
  border: none;
}

@media (max-width: 768px) {
  .scrolling-section {
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    left: 0;
    right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .scrolling-text {
    margin-top: 5rem;
    padding: 0 2rem;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2rem;
  }

  .scrolling-title-row {
    gap: 1rem;
  }

  .scrolling-rows {
    margin-left: calc(-1rem - 1rem);
    margin-right: calc(-1rem - 1rem);
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  .scroll-row {
    height: 20rem;
    gap: 1rem;
  }

  .scroll-box {
    width: 15rem;
    height: 19rem;
  }

  .scrolling-title-text {
    font-size: 2.8rem;
  }

  .scrolling-subtitle {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .scrolling-icon-left {
    left: max(2rem, calc(50% - 17.5rem));
    top: 52%;

  }

  .scrolling-icon-right {
    right: max(2rem, calc(50% - 17.5rem));
    top: 52%;
  }
}
