.stack-container {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1200px;
}

.stack-card-rotate {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: grab;
}

.stack-card-rotate-disabled {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.stack-card { 
  border-radius: 1.5rem;
  overflow: hidden;
  width: 105%;
  height: 95%;
  display: flex;
  flex-direction: column;
  background: #f3f9f5;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  box-sizing: border-box;
}

.stack-card img {
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}